In [43]:
import pandas as pd

In [44]:
base = pd.read_excel("ChavesClientes.xlsx",sheet_name ="base")
base.head()

   ID ChaveSituacao ClassRisco   CatCliente  Pagamento
0   1          32FC     Ccinza  Basic-Alpha          1
1   2          25MV   AAmarelo        Black          1
2   3          27MV  B-Amarelo   Basic-Beta          1
3   4          26FD   BAmarelo        Black          0
4   5          26FD  C-Amarelo        Black          0

In [45]:
base.groupby(["Pagamento","ChaveSituacao"])["Pagamento"].count()
# problema em chave situacao separar

Pagamento  ChaveSituacao
0          26FD             2
           28FC             2
           28MD             1
           30FC             1
           31MD             1
1          25FD             1
           25FV             1
           25MV             1
           26MC             2
           27MC             1
           27MD             2
           27MV             1
           28FS             1
           29MV             1
           31MV             1
           32FC             1
Name: Pagamento, dtype: int64

In [46]:
texto = "32FC"
texto[-1]

'C'

In [47]:
texto[2:]

'FC'

In [48]:
texto[:2]

'32'

In [49]:
texto[2:3]

'F'

In [50]:
texto[3:4]

'C'

In [51]:
base['Idade'] =  base.ChaveSituacao.str[:2]# para adicionar uma coluna na tabela
base.head()

   ID ChaveSituacao ClassRisco   CatCliente  Pagamento Idade
0   1          32FC     Ccinza  Basic-Alpha          1    32
1   2          25MV   AAmarelo        Black          1    25
2   3          27MV  B-Amarelo   Basic-Beta          1    27
3   4          26FD   BAmarelo        Black          0    26
4   5          26FD  C-Amarelo        Black          0    26

In [52]:
base['GÃªnero'] =  base.ChaveSituacao.str[2:3]
base.head()

   ID ChaveSituacao ClassRisco   CatCliente  Pagamento Idade GÃªnero
0   1          32FC     Ccinza  Basic-Alpha          1    32      F
1   2          25MV   AAmarelo        Black          1    25      M
2   3          27MV  B-Amarelo   Basic-Beta          1    27      M
3   4          26FD   BAmarelo        Black          0    26      F
4   5          26FD  C-Amarelo        Black          0    26      F

In [53]:
base['Estado Civil'] =  base.ChaveSituacao.str[3:4]
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C
1,2,25MV,AAmarelo,Black,1,25,M,V
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V
3,4,26FD,BAmarelo,Black,0,26,F,D
4,5,26FD,C-Amarelo,Black,0,26,F,D

In [54]:
display(base)

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C
1,2,25MV,AAmarelo,Black,1,25,M,V
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V
3,4,26FD,BAmarelo,Black,0,26,F,D
4,5,26FD,C-Amarelo,Black,0,26,F,D
5,6,28FC,C-Amarelo,Platinum-Alpha,0,28,F,C
6,7,27MD,A-Verde,Platinum-Beta,1,27,M,D
7,8,31MD,C-Cinza,Basic,0,31,M,D
8,9,28FS,A-Cinza,Black,1,28,F,S
9,10,31MV,C+Amarelo,Platinum,1,31,M,V
10,11,29MV,AAmarelo,Basic,1,29,M,V
11,12,30FC,C-Cinza,Basic-Beta,0,30,F,C
12,13,28FC,Bverde,Basic,0,28,F,C
13,14,26MC,A-Verde,Platinum,1,26,M,C
14,15,26MC,Croxo,Black-Alpha,1,26,M,C
15,16,27MC,B-Roxo,Platinum,1,27,M,C
16,17,25FD,A-Verde,Black,1,25,F,D
17,18,28MD,C-Cinza,Black-Beta,0,28,M,D
18,19,27MD,CAmarelo,Platinum-Alpha,1,27,M,D
19,20,25FV,AAmarelo,Platinum,1,25,F,V

In [55]:
somaMasculino = base[base['GÃªnero'] == 'M'].shape[0]
somaFeminino = base[base['GÃªnero'] == 'F'].shape[0]
print(somaMasculino)
print(somaFeminino)

11
9

In [56]:
texto = 'basic-alpha'
texto.split('-')

['basic', 'alpha']

In [57]:
base['Categoria'] = base.CatCliente.str.split('-').str.get(0)
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil,Categoria
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic
1,2,25MV,AAmarelo,Black,1,25,M,V,Black
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic
3,4,26FD,BAmarelo,Black,0,26,F,D,Black
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black

In [58]:
base['CatVIP'] =  base.CatCliente.str.split('-').str.get(1)
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil,Categoria,CatVIP
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic,Alpha
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,NaN
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic,Beta
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,NaN
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,NaN

In [59]:
import re

In [60]:
re.findall('IFAM','eu estudo no IFAM')

['IFAM']

In [61]:
re.findall('IFA+M','eu estudo no IFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM')

['IFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM']

In [62]:
re.findall('IFA*M','eu estudo no IFM')

['IFM']

In [63]:
re.findall('[A-Z]','eu estudo no IFAM')

['I', 'F', 'A', 'M']

In [64]:
re.findall('[a-z]','eu estudo no IFAM')

['e', 'u', 'e', 's', 't', 'u', 'd', 'o', 'n', 'o']

In [65]:
re.findall('[A-Z]+\w','eu estudo no Ifam')

['If']

In [66]:
re.findall('[A-Z]+\w{2}','eu estudo no Ifam')

['Ifa']

In [67]:
re.findall('[A-Z]','B-Amarelo')

['B', 'A']

In [68]:
re.findall('^[A-Z]','B-Amarelo')

['B']

In [69]:
re.findall('^[A-Z].?','B-Amarelo')

['B-']

In [70]:
re.findall('^[A-Z].?','AAmarelo')

['AA']

In [71]:
re.findall('^[A-Z][^A-Z]?','B-Amarelo')

['B-']

In [72]:
re.findall('^[A-Z][^A-Za-z]?','Croxo')

['C']

In [73]:
base['Risco'] = base.ClassRisco.apply(lambda x:re.findall('^[A-Z][^A-Za-z]?',x)[0])
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil,Categoria,CatVIP,Risco
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic,Alpha,C
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,NaN,A
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic,Beta,B-
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,NaN,B
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,NaN,C-

In [74]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   Idade          20 non-null     object
 6   GÃªnero         20 non-null     object
 7   Estado Civil   20 non-null     object
 8   Categoria      20 non-null     object
 9   CatVIP         8 non-null      object
 10  Risco          20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [75]:
base["Idade"] = pd.to_numeric(base["Idade"],errors = "coerce")

In [76]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   Idade          20 non-null     int64
 6   GÃªnero         20 non-null     object
 7   Estado Civil   20 non-null     object
 8   Categoria      20 non-null     object
 9   CatVIP         8 non-null      object
 10  Risco          20 non-null     object
dtypes: int64(3), object(8)
memory usage: 1.8+ KB

In [77]:
base.loc[base.CatVIP.isnull()]

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil,Categoria,CatVIP,Risco
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,NaN,A
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,NaN,B
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,NaN,C-
7,8,31MD,C-Cinza,Basic,0,31,M,D,Basic,NaN,C-
8,9,28FS,A-Cinza,Black,1,28,F,S,Black,NaN,A-
9,10,31MV,C+Amarelo,Platinum,1,31,M,V,Platinum,NaN,C+
10,11,29MV,AAmarelo,Basic,1,29,M,V,Basic,NaN,A
12,13,28FC,Bverde,Basic,0,28,F,C,Basic,NaN,B
13,14,26MC,A-Verde,Platinum,1,26,M,C,Platinum,NaN,A-
15,16,27MC,B-Roxo,Platinum,1,27,M,C,Platinum,NaN,B-
16,17,25FD,A-Verde,Black,1,25,F,D,Black,NaN,A-
19,20,25FV,AAmarelo,Platinum,1,25,F,V,Platinum,NaN,A

In [78]:
base.loc[base.CatVIP.isnull(),"CatVIP"] = "Comum"
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil,Categoria,CatVIP,Risco
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic,Alpha,C
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,Comum,A
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic,Beta,B-
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,Comum,B
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,Comum,C-

In [79]:
base.loc[base.CatVIP.isnull()]

Empty DataFrame
Columns: [ID, ChaveSituacao, ClassRisco, CatCliente, Pagamento, Idade, GÃªnero, Estado Civil, Categoria, CatVIP, Risco]
Index: []

In [80]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   Idade          20 non-null     int64
 6   GÃªnero         20 non-null     object
 7   Estado Civil   20 non-null     object
 8   Categoria      20 non-null     object
 9   CatVIP         20 non-null     object
 10  Risco          20 non-null     object
dtypes: int64(3), object(8)
memory usage: 1.8+ KB

In [81]:
display(base)

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,GÃªnero,Estado Civil,Categoria,CatVIP,Risco
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic,Alpha,C
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,Comum,A
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic,Beta,B-
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,Comum,B
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,Comum,C-
5,6,28FC,C-Amarelo,Platinum-Alpha,0,28,F,C,Platinum,Alpha,C-
6,7,27MD,A-Verde,Platinum-Beta,1,27,M,D,Platinum,Beta,A-
7,8,31MD,C-Cinza,Basic,0,31,M,D,Basic,Comum,C-
8,9,28FS,A-Cinza,Black,1,28,F,S,Black,Comum,A-
9,10,31MV,C+Amarelo,Platinum,1,31,M,V,Platinum,Comum,C+
10,11,29MV,AAmarelo,Basic,1,29,M,V,Basic,Comum,A
11,12,30FC,C-Cinza,Basic-Beta,0,30,F,C,Basic,Beta,C-
12,13,28FC,Bverde,Basic,0,28,F,C,Basic,Comum,B
13,14,26MC,A-Verde,Platinum,1,26,M,C,Platinum,Comum,A-
14,15,26MC,Croxo,Black-Alpha,1,26,M,C,Black,Alpha,C
15,16,27MC,B-Roxo,Platinum,1,27,M,C,Platinum,Comum,B-
16,17,25FD,A-Verde,Black,1,25,F,D,Black,Comum,A-
17,18,28MD,C-Cinza,Black-Beta,0,28,M,D,Black,Beta,C-
18,19,27MD,CAmarelo,Platinum-Alpha,1,27,M,D,Platinum,Alpha,C
19,20,25FV,AAmarelo,Platinum,1,25,F,V,Platinum,Comum,A

In [82]:
base.groupby(["Pagamento","CatVIP"])["Pagamento"].count()

Pagamento  CatVIP
0          Alpha     1
           Beta      2
           Comum     4
1          Alpha     3
           Beta      2
           Comum     8
Name: Pagamento, dtype: int64

In [85]:
base.to_csv('meu_arquivo_tratado.csv', index=False)